.all-employee-container{
  background-color: rgb(255, 255, 255);
}
ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.pagination-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: 10px;
}

.pagination-elements{
  margin-top: 10px;
}

.pagination-elements button {
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  margin-right: 10px;
}

.pagination-elements button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-elements select {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.employee-container {
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 8px 10px 0px;
  border: 3px solid #000000;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  width: calc(20% - 12px);
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out; /* Add transition effect */
  cursor:cell;
}

.name-section,
.surname-section {
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.name-section span,
.surname-section span {
  font-weight: bold;
  color: black;
}

.buttons-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.update-button,
.delete-button {
  color: white;
  background-color: green;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 18px;
  cursor:pointer;
  transition: transform 0.3s ease-in-out; /* Add transition effect to buttons */
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .employee-container {
    width: calc(25% - 20px);
  }
}

@media (max-width: 992px) {
  .employee-container {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .employee-container {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .employee-container {
    width: calc(100% - 20px);
  }
}

/* Hover Effect */
.employee-container:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}

.update-button:hover,
.delete-button:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}
